.mySlides {
    display: none
}

.mySlides img {
    vertical-align: middle;
    pointer-events: none;
    user-select: none;
    width: 100%;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}

/* Your CSS styles here */
#yourFixedDiv {
    position: fixed;
    bottom: -500px;
    /* Initially hide the div */
    left: 0;
    right: 0;
    background-color: #f1f1f1;
    padding: 20px;
    transition: bottom 0.3s ease-in-out;
    z-index: 99;
}

#yourFixedDiv.show {
    bottom: 0;
    /* Show the div when the 'show' class is added */
}

@media only screen and (max-width: 768px) {

    #yourFixedDiv .product__info__title span,
    #yourFixedDiv .product__info__form__price span {
        margin: 0 auto;
        font-size: 16px !important;
    }

    #yourFixedDiv .product__info__form__price {
        margin-bottom: 1em;
        text-align: center;
    }

    #yourFixedDiv #product_add_to_cart_sticky {
        margin: 0 auto;
    }
}

.product-viewer {
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: -webkit-grab;
    cursor: grab
}

.product-viewer__image {
    max-width: 100%;
}

.product-viewer--js-press-active {
    cursor: -webkit-grabbing;
    cursor: grabbing
}

.product__info__variables .color-btn.selected {
    border: 2px solid #257cff !important;
}